/AbsoluteTimeoutAction.class
/AbstractManagerAction.class
/AbstractMeetMeMuteAction.class
/AgentCallbackLoginAction.class
/AgentLogoffAction.class
/AgentsAction.class
/AgiAction.class
/AtxferAction.class
/BridgeAction.class
/ChallengeAction.class
/ChangeMonitorAction.class
/CommandAction.class
/ConfbridgeKickAction.class
/ConfbridgeListAction.class
/ConfbridgeListRoomsAction.class
/ConfbridgeLockAction.class
/ConfbridgeMuteAction.class
/ConfbridgeSetSingleVideoSrcAction.class
/ConfbridgeStartRecordAction.class
/ConfbridgeStopRecordAction.class
/ConfbridgeUnlockAction.class
/ConfbridgeUnmuteAction.class
/CoreSettingsAction.class
/CoreShowChannelsAction.class
/CoreStatusAction.class
/DahdiShowChannelsAction.class
/DbDelAction.class
/DbDelTreeAction.class
/DbGetAction.class
/DbPutAction.class
/DongleSendSMSAction.class
/DongleShowDevicesAction.class
/EventGeneratingAction.class
/EventsAction.class
/ExtensionStateAction.class
/FilterAction.class
/GetConfigAction.class
/GetVarAction.class
/HangupAction.class
/IaxPeerListAction.class
/JabberSendAction.class
/ListCommandsAction.class
/LocalOptimizeAwayAction.class
/LoginAction.class
/LogoffAction.class
/MailboxCountAction.class
/MailboxStatusAction.class
/ManagerAction.class
/MeetMeMuteAction.class
/MeetMeUnmuteAction.class
/MixMonitorMuteAction.class
/ModuleCheckAction.class
/ModuleLoadAction.class
/MonitorAction.class
/OriginateAction.class
/ParkAction.class
/ParkedCallsAction.class
/PauseMixMonitorAction.class
/PauseMonitorAction.class
/PingAction.class
/PlayDtmfAction.class
/QueueAddAction.class
/QueueLogAction.class
/QueuePauseAction.class
/QueuePenaltyAction.class
/QueueRemoveAction.class
/QueueResetAction.class
/QueueStatusAction.class
/QueueSummaryAction.class
/RedirectAction.class
/SendTextAction.class
/SetCdrUserFieldAction.class
/SetVarAction.class
/ShowDialplanAction.class
/SipNotifyAction.class
/SipPeersAction.class
/SipShowPeerAction.class
/SipShowRegistryAction.class
/SkypeAccountPropertyAction.class
/SkypeAddBuddyAction.class
/SkypeBuddiesAction.class
/SkypeBuddyAction.class
/SkypeChatSendAction.class
/SkypeLicenseListAction.class
/SkypeLicenseStatusAction.class
/SkypeRemoveBuddyAction.class
/StatusAction.class
/StopMonitorAction.class
/UnpauseMonitorAction.class
/UpdateConfigAction.class
/UserEventAction.class
/VoicemailUsersListAction.class
/ZapDialOffhookAction.class
/ZapDndOffAction.class
/ZapDndOnAction.class
/ZapHangupAction.class
/ZapRestartAction.class
/ZapShowChannelsAction.class
/ZapTransferAction.class
