root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
ij_continuation_indent_size = 8

[*.{yaml,yml}]
indent_size = 2

[*.properties]
ij_properties_align_group_field_declarations = false
