name: CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 11, 17 ]
    steps:
      - name: Check out code
        uses: actions/checkout@v3.5.1
        with:
          fetch-depth: 0

      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v3.9.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}

      - name: Build
        run: ./mvnw clean package
