name: Release Drafter

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write # for release-drafter to create a GitHub release
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6.0.0
        with:
          config-name: release-drafter-master.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
